body {
    margin: 20px;
    background-color: #009AD6;
    font-family: 'Roboto', sans-serif;
}

/* Estilos de la barra de navegación personalizada */
.navbar {
    background-color: #fff;
    color: #009AD6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Estilos del logo */
.logo {
    display: flex;
}

.logo img {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #009AD6;
}

/* Estilos de los elementos del menú */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.navbar li {
    margin: 0;
    padding: 0;
}

/* Estilos para los enlaces del menú */
.navbar a {
    text-decoration: none;
    font-weight: normal;
    display: flex;
    align-items: center;
    transition: color 0.3s, background-color 0.3s;
    color: #000;
}

/* Estilos para el icono */
.navbar a i {
    margin-right: 5px;
}

/* Cambia el color de texto y fondo al pasar el mouse */
.navbar a:hover {
    color: #009AD6;
    background-color: #fff;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    text-align: center;
}

.container1{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1 {
    flex: 1;
    text-align: center;
    margin: 20px;

}

.content1 .image img {
    max-width: 80%;
}


.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #009AD6;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #007AAE;
}

/* Estilos para la imagen */
.image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin-right: 20px;
}

/*esilos form*/
/* Estilos para el formulario */
/* Estilos para el formulario */
form {
    background-color: #fff;
    padding: 10px; /* Reduce el padding para hacerlo más pequeño */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px; /* Reduce el border-radius */
}

/* Estilos para las etiquetas del formulario */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #009AD6;
    text-align: left; /* Alinea los textos a la izquierda */
}

/* Estilos para los campos de entrada del formulario */
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px; /* Reduce el padding */
    margin-bottom: 8px; /* Reduce el espacio entre campos */
    border: 1px solid #009AD6;
    border-radius: 3px; /* Reduce el border-radius */
}

/* Estilos para el botón de enviar del formulario */
button[type="submit"] {
    background-color: #009AD6;
    color: #fff;
    padding: 8px 16px; /* Reduce el padding */
    border: none;
    border-radius: 3px; /* Reduce el border-radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007AAE;
}

#pacienteRegistrado {
    color: #009AD6;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Estilos para el título del formulario */
h1 {
    color: #009AD6;
    text-align: center;
}



